<main>
    <div id="contenedorPrincipal" class="container-fluid">
        <div class="card" style="width: 100%;">
            <img src="assets/Img/IndividualImg.jpg" class="card-img rounded float-start" style="width: 15%;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
                <button class="btn btn-outline-dark"><fa-icon [icon]="faGithub"></fa-icon></button> 
                <button class="btn btn-outline-primary"><fa-icon [icon]="faTelegram"></fa-icon></button>
                <button class="btn btn-outline-dark"><fa-icon [icon]="faLinkedin"></fa-icon></button>
                <button class="btn btn-outline-danger"><fa-icon [icon]="faGoogle"></fa-icon></button> 
                <button class="btn btn-outline-success"><fa-icon [icon]="faWhatsappSquare"></fa-icon></button>
                
                <!-- <fa-icon [icon]="['fab', 'angular']"></fa-icon>
                <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                <fa-icon [icon]="['fab', 'facebook']"></fa-icon> -->
            </div>
        </div>
    </div>
</main>